*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

}
.header{
    background-color: rgb(11, 11, 157);
}

nav{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    padding-left:1000px;
    color: white;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    transition: all ease 0.5s;
}
nav a:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex-wrap: wrap;
    padding: 50px;
    margin: 50px;
    color:black;
    
}

.container img{
    border-radius: 20px;
    border: 2px solid black; 
}



.container img:hover{
    transform: scale(1.1);
    transition: all ease 0.5s;
}
.footer{
    background-color:  rgb(11, 11, 157);
    color: white;
    text-align: center;
    padding: 50px;
}

.box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
    margin: 50px;
    color:black;
    border-radius: 20px;
    border: 2px solid black;
}
.hotel_details{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
    margin: 50px;
    color:black;
    border-radius: 20px;
    border: 2px solid black;
}